<TMAR>
    <CONFIG>
        <PROJECT name="Tmar sample project"/>
        <LOGO name="jspresso-logo.png"/>
        <DESCRIPTION_DIRECTORY type="FILE" name="src/test/resources/tmar/descriptions"/>
        <WORKING_DIRECTORY type="FILE" name="src/test/resources/tmar/working"/>
        <RESULT_DIRECTORY name = "target/tmar-test-results"/>
        <REPORT_DIRECTORY name = "target/tmar-test-report"/>
        <SRC_GOOGLE_GRAPH name="https://www.google.com/jsapi"/>
    </CONFIG>
</TMAR>